@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.navbar-title{
    letter-spacing: 2px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.navbar-icon{
    width: 40px !important;
   height: 40px !important; 
   
}

.container,.row{
  padding :0px;
}

.floating-add-button{
   position : fixed !important;
   left : 80%;
   top :80%;
   z-index: 1;
}

.createcontact-container{
   padding: 0px !important;
   margin-top: 50px;
   font-family: 'Space Mono', monospace;
}


.solo-contact-column{
   box-sizing: border-box;
  /* background-color : white; */
   padding :15px ;
  /* margin: 5px; */
    
}

.reatecontact-icon{
  color: whitesmoke !important;
}

.solo-contact-inner-container li{
     padding: 10px 2px 5px 5px;
}